@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

.container-show {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.single-card-show {
    width: 800px;
    margin-bottom: 100px;

    .titolo {
        margin: 10px;
    }


    .card-img-show {
        width: 400px;
        height: 600px;
        padding: 10px;
        margin-left: 25%;
        box-sizing: border-box;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .content-show {
        margin: 30px;
        align-items: center;

        .title-show {
            font-size: 28px;
            margin: 30px;
            line-height: 10px;
        }

        .contents-show {
            width: 100%;
        }

    }
}